.table {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;

  tr {
  }

  th {
    height: 40px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: rgba(#000, .5);
    border-bottom: 1px solid #c4c4c4;
  }

  td {
    height: 40px;
    font-size: 15px;
    text-align: center;
    color: #000;
    border-bottom: 1px solid #c4c4c4;

    &:nth-child(1) {
      text-align: left;
    }
  }
}
