mixin table(data)
  table.table&attributes(attributes)
    tr
      th
      th В порции
      th %RI
    tr
      td Ккал
      td 331
      td 14.39
    tr
      td Жиры
      td 16 г.
      td 22.86
    tr
      td Углеводы
      td 43 г.
      td 21.5
    tr
      td Белки
      td 3 г.
      td 1.2
