h1 {
}

h2,
.h2 {
  font-size: 25px;
  line-height: 1.16;
  color: #373737;
}

h3 {
  font-size: 20px;
  line-height: 1.16;
}

h4 {
}

h5 {
}

h6 {
}

p {
  margin-bottom: 1em;
  font-size: 18px;
  line-height: 1.16;

  &.p--sm {
    font-size: 15px;
    line-height: 1.16;
  }
}

.font-weight-medium {
  font-weight: 500;
}

.text-gray {
  color: $gray-500;
}

ul {

  li {
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
}
