.promo {

  &__picture {
    position: relative;
  }

  &__label {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 6px 15px 4px;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #fff;
    background: #d2160c;
    border-radius: 30px;
  }

  &__content {
    padding: 20px 0;
  }
}
