mixin promo(data)
  a.promo(href="#")&attributes(attributes)
    .promo__picture
      img.img-fluid(src="./img/promo.png", alt)
      .promo__label Акция
    .promo__content
      .container
        h2.mb-10 Деловые обеды в «Мясо и рыба»
        p.text-gray По будням, с 12:00 и до 16:00 действует гастрономическое предложение от шеф-повара
