/* Boostrap */

.container {
  padding-right: 20px;
  padding-left: 20px;
}

.btn {

  &.btn-primary {
    padding-top: 10.5px;
    padding-bottom: 10.5px;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
  }
}
