
include ../blocks/header/header.pug
include ../blocks/menu/menu.pug
include ../blocks/front/front.pug
include ../blocks/carte/carte.pug
include ../blocks/promo/promo.pug
include ../blocks/section/section.pug
include ../blocks/item/item.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/article/article.pug
include ../blocks/table/table.pug
include ../blocks/component/component.pug
include ../blocks/wrapper/wrapper.pug
include ../blocks/select/select.pug