.breadcrumbs {
  position: relative;
  display: flex;
  min-height: 70px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;

  &__back {
    position: absolute;
    top: 50%;
    left: 25px;
    display: block;
    width: 10px;
    height: 20px;
    opacity: .5;
    background: url(../img/arrow.svg) no-repeat center;
    background-size: contain;
    transform: translateY(-50%);
  }

  &__title {
    margin-bottom: 0;
  }

  &--sm {
    padding-left: 25px;
    justify-content: flex-start;

    .breadcrumbs__back {
      position: static;
      margin-right: 18px;
      transform: none;
    }

    .breadcrumbs__title {
      opacity: .5;
      font-size: 18px;
      line-height: 21px;
      color: #373737;
    }
  }
}
