.article {

  &__info {
    padding: 20px 0;
  }

  &__info-numbers {
    margin-bottom: 20px;
    display: flex;
    align-items: baseline;
  }

  &__nutrition {
    padding: 20px 0 30px;
    border-top: 1px solid rgba(#000, .2);
  }

  &__allergens {
    padding: 20px 0;
    border-top: 1px solid rgba(#000, .2);
  }

  &__components-list {
    display: flex;
    flex-wrap: wrap;
  }
}
