mixin article(data)
  .article&attributes(attributes)
    img.img-fluid(src="./img/item-2.jpg", alt)
    .article__info
      .container
        h2.mb-20 Бланманже с ягодами
        .article__info-numbers
          p.font-weight-bold.mb-0.mr-20 570 ₽
          p.text-gray.mb-0 220 гр.
        p.mb-20 Молоко кокосовое, сахар, сливки, желатин, ванильный стручок, пюре манго, пюре маракуйя, пектин, ананас, киви, манго, сироп кокос, малина, голубика, сорбет малина
        a.btn.btn-primary.w-100(href="#") Отложить
    .article__nutrition
      .container
        h3.font-weight-bold Пищевая ценность
        +table
        p.p--sm.text-gray.mb-0 RI – это средние значения суточных физиологических потребностей взрослого человека в энергии и пищевых веществах.
    .article__allergens
      .container
        h3.font-weight-bold Аллергены
        .article__components-list
          +component
