.component {
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  &__icon {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
