.item {
  margin-top: 10px;
  display: flex;
  background: #fff;

  &__picture {
    width: 120px;
    min-height: 120px;
    flex-shrink: 0;
    background-position: center;
    background-size: cover;
  }

  &__content {
    padding: 10px 10px 20px;
  }

  &__content-top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__content-price {
    margin-left: 20px;
    flex-shrink: 0;
    font-size: 20px;
    line-height: 23px;
    color: #373737;
  }

  &__content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__content-weight {
    margin-left: 20px;
    flex-shrink: 0;
    opacity: .5;
    font-size: 15px;
    line-height: 18px;
    color: #373737;
  }
}
