mixin item(data)
  .item&attributes(attributes)
    .item__picture(style="background-image: url(./img/" + data.img + ");")
    .item__content
      .item__content-top
        h3.mb-10= data.title
        .item__content-price= data.price
      .item__content-bottom
        p.p--sm.mb-0 Пшеничная мука, масло, сахар. дрожжи, сухое цельное молоко, сол...
        .item__content-weight= data.weight
