extends ../templates/template.pug
block content
  +header
  +front
  +carte
  +promo
  +section({
    img: 'section-1.png',
    title: 'Закуски'
  })
  +section({
    img: 'section-2.png',
    title: 'Салаты'
  })
