extends ../templates/template.pug
block content
  +header
  .bg-light
    +breadcrumbs
    +item({
      img: 'item-1.png',
      title: 'Круассан',
      price: '120 ₽',
      weight: '50 гр.'
    })
    +item({
      img: 'item-2.jpg',
      title: 'Блинный торт',
      price: '580 ₽',
      weight: '50 гр.'
    })
    +item({
      img: 'item-3.jpg',
      title: 'Карамельный чизкейк',
      price: '840 ₽',
      weight: '510 гр.'
    })
    +item({
      img: 'item-4.jpg',
      title: 'Круассан',
      price: '120 ₽',
      weight: '50 гр.'
    })
    +item({
      img: 'item-5.jpg',
      title: 'Круассан',
      price: '120 ₽',
      weight: '50 гр.'
    })
