.carte {

  &__header {
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    margin-left: 10px;
    flex-shrink: 0;
    font-size: 15px;
    line-height: 34px;
    color: $primary;

    &--active {
      width: 34px;
      height: 34px;
      opacity: .3;
      font-size: 0;
      background: url(../img/close--dark.svg) no-repeat center;
    }
  }

  &__content {
    padding-bottom: 20px;
    display: none;
  }
}
