mixin carte(data)
  .carte&attributes(attributes)
    .container
      .carte__header
        h2.mb-0 Меню завтраков
        a.carte__btn(href="#") Время работы
      .carte__content
        p.p--sm.text-gray Время начала завтраков по будням: <br>с 6:00 в ресторане на Тверской <br>с 8:30 в бизнес-парке "Румянцево" <br>с 9:00 в ТЦ “Кунцево Плаза” <br>с 10:00 в ТРЦ “Ривьера”, “Афимолл Сити”, "Каширская Плаза", VEGAS Кунцево 
        p.p--sm.text-gray По будням до 12:00, по выходным до 15:00


