.menu {

  &__btn {
    display: block;
    width: 25px;
    height: 16px;
    background: url(../img/menu.svg) no-repeat center;
    background-size: contain;

    &--active {
      width: 34px;
      height: 34px;
      background: url(../img/close.svg) no-repeat center;
    }
  }

  &__content {
    position: fixed;
    top: 60px;
    left: 50%;
    padding: 20px;
    display: none;
    overflow: auto;
    width: 100%;
    max-width: 414px;
    height: calc(100% - 60px);
    background: #000;
    border-top: 1px solid rgba(#fff, .7);
    transform: translateX(-50%);
  }

  &__links-list {
  }

  &__link {
    padding: 15px 0;
    display: block;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    border-bottom: 1px solid rgba(#fff, .7);
  }
}
