mixin menu(data)
  .menu&attributes(attributes)
    a.menu__btn(href="#")
    .menu__content
      .menu__links-list
        a.menu__link(href="#") Меню завтраков
        a.menu__link(href="#") Закуски
        a.menu__link(href="#") Салаты
        a.menu__link(href="#") Супы
        a.menu__link(href="#") Мясо
        a.menu__link(href="#") Рыба
        a.menu__link(href="#") Дары моря
        a.menu__link(href="#") Соусы
        a.menu__link(href="#") Гарниры
        a.menu__link(href="#") Детское меню
        a.menu__link(href="#") Десерты
        a.menu__link(href="#") Безалкогольные напитки
        a.menu__link(href="#") Отзыв / жалоба
      select.select.mt-20
        option(value="ru") Русский
        option(value="en") Английский
