.select {
  padding-left: 10px;
  width: 100%;
  height: 40px;
  font-size: 18px;
  background: #fff url(../img/arrow-down.svg) no-repeat right 20px center;
  background-size: 15px auto;
  border: 0;
  border-radius: 5px;
  appearance: none;
  //  color: #fff;
  //  background: transparent;
  //  border: 1px solid #fff;

  &:focus {
    outline: none;
  }
}
