.header {
  position: fixed;
  z-index: 1;
  top: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 414px;
  background: #000;

  &__wrapper {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
  }
}
